*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.tags
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.idea/
/.refcache
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-ietf-asdf-sdftype-link.xml
draft-ietf-asdf-sdftype-link.v2v3.xml
package-lock.json
report.xml
!requirements.txt
